@import './index.css';

.Calendar {
  color: var(--text);
  margin: 50px;
  width: 80%;
  min-width: 750px;
  height: 80%;
  min-height: 400px;
  flex: 1;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #1d193d;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.header .left-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.middle-div {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding-right: 10px;
  padding-left: 10px;
}

.month-display {
  width: 50%;
  margin-right: 100px;
  margin-left: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}

.btn {
  width: 120px;
  background-color: var(--accent);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
  user-select: none;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.icon {
  font-family: 'Material Icons';
  font-size: 18px;
  cursor: pointer;
  user-select: none;
}

.arrow {
  font-size: 32px;
}

.subheader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: var(--background-back);
  font-size: 18px;
}

.day {
  width: 14.2%;
}

.calendar-cells {
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--accent);
  border-bottom: 1px solid var(--accent);
}

.date-row {
  display: flex;
  flex-direction: row;
  border-top: 1px solid var(--accent);
  width: 100%;
}

.date {
  border-left: 1px solid var(--accent);
  background-color: var(--background-back);
  text-align: right;
  width: 14.2%;
  height: 12vh;
  display: flex;
  flex-direction: column;
}

.date .date-number {
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  user-select: none;
}

.event-cells {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.calendar-event {
  text-align: left;
  width: 95%;
  margin: 1px;
  padding: 3px;
  background-color: var(--accent);
  border-radius: 5px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
  user-select: none;
}

.disabled {
  color: gray;
  background-color: #0c0a19;
  pointer-events: none;
}

.disabled .calendar-event {
  color: darkgray;
  background-color: #a04058;
}

.selected {
  background-color: #262050;
}

.selected .date-number {
  background-color: var(--accent);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
}
