@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

:root {
  --background-back: #15112b;
  --accent: #c36a80;
  --text: #ffffff;
  --background-front: #0c0a19;
}

body {
  margin: 0;
  font-family: -apple-system, 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
